<div th:fragment="sidebar-colaborador">
    <div class="list-group">

        <a th:href="@{/colaborador/dashboard}"class="list-group-item">
            Dashboard
        </a>

        <a th:href="@{/colaborador/nova-cotacao}" class="list-group-item">
            Nova Cotação
        </a>

        <a th:href="@{/colaborador/cotacoes}" class="list-group-item">
            Minhas Cotações
        </a>

        <a th:href="@{/colaborador/fornecedores}" class="list-group-item">
            Fornecedores
        </a>
    </div>
</div>