<!DOCTYPE html>
<html lang="pt-BR">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Portal do Colaborador</title>
<link rel="stylesheet" href="/css/colaborador.css">
</head>
<body>

<header class="app-header">
    <div class="logo">Portal do Colaborador</div>
    <div class="usuario">Olá, Nome do Colaborador</div>
</header>

<div class="app-container">
    <aside class="sidebar">
        <div class="menu-item ativo" data-tela="nova">Nova Cotação</div>
        <div class="menu-item" data-tela="andamento">Cotações em Andamento</div>
        <div class="menu-item" data-tela="comparacao">Comparação de Propostas</div>
        <div class="menu-item" data-tela="historico">Histórico</div>
    </aside>

    <main class="conteudo">
        <!-- Telas vão aqui -->
     <section id="tela-nova" class="tela ativa">
    <h1>Nova Cotação</h1>

    <div class="card upload-card">
        <label class="upload-label">
            <input type="file" id="arquivoExcel" accept=".xls,.xlsx">
            <span>📄 Selecionar arquivo Excel</span>
        </label>

        <p class="upload-info">Nenhum arquivo selecionado</p>
        <small>Apenas arquivos .xls ou .xlsx</small>
    </div>

    <div id="previewProdutos" style="display:none; margin-top:20px;">
    <h2>Produtos da Cotação</h2>

    <table class="tabela-produtos">
        <thead>
            <tr id="cabecalhoProdutos"></tr>
        </thead>
        <tbody id="corpoProdutos"></tbody>
    </table>
</div>
</section>

        <section id="tela-andamento" class="tela"><h1>Cotações em Andamento</h1></section>
        <section id="tela-comparacao" class="tela"><h1>Comparação de Propostas</h1></section>
        <section id="tela-historico" class="tela"><h1>Histórico de Cotações</h1></section>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/xlsx@0.18.5/dist/xlsx.full.min.js"></script>
<script src="/js/colaborador.js"></script>
</body>
</html>
